@CHARSET "UTF-8";

*{margin:0;padding:0}
html, body {height:100%;;width:100%; position:static; xoverflow:hidden;}

body { 
	xxxbackground-color:#f9f9f9;
	background-color:#222222;
    color:#CCCCAA;
}
td, a, div {
font-family:sans,verdana;
}
a {
    color:#FFAAAA;
 }
 div {
	display:inline-block;
	vertical-align:top;
}
 
 .folderinfo {
 display:block;
 }
.headerBox {width:100%; height:170px; overflow:auto;}
.currentBox{min-width:60%;height:100%;}

.footerBox { position:absolute ;width:100%; height:30px; bottom:0px; }        
.contentBox {width:100%;}

.contentBoxLeft  {
	vertical-align:top; 
	left:0px;
	width:15em;
	overflow:auto;
	}

.contentBoxRight {
	vertical-align:top; 
	left: 15em;
	right: 0px;;
	overflow:hidden
	}    


.contentBoxLeft, .contentBoxRight {
position:absolute;	
top:170px;
bottom:5px;
border:#ddd 1px solid;
}

img.cover {
	max-height:168px;;
	float:left;
	padding-left:5px;
	padding-right:15px;	
}

iframe {
	height:99%;
	width:99%;
	overflow:scroll;
}

table.list tr td {
	padding:5px;;
}
	.remotePopup {z-index:10; padding:10px; position:absolute; left: 40px; top: 15px; xwidth:600px; xheight:400px; background-color:black;color:yellow;display:none;}


.current {
background-color:#dfefef;
color:#660033;
font-weight:bold;
}
.nowplaying {
font-size:larger;
}


.poster {
max-width:30vw;
max-height:30vw;
}
.fanart {
max-width:60vw;
max-height:30vw;
}

.logo {
	xposition: absolute;
   xleft: 50%;
   xtransform: translate(-50%, 0);
	xfont-weight: bolder;
	xcolor:black;
	vertical-align:top;
	max-width:18em;
	max-height:6em;
	xz-index:10;
	xoverflow:none;
   	xmargin-top: -10px;
 	xtext-align:center;
 	xpadding-bottom:2em;
}


.action {
	vertical-align:middle;
	padding:0px;
	xxmargin:3px;
}
.action img {
	border:solid black 1px;
}

.title {
	vertical-align:middle;
}
a {
   text-decoration: none;	
}
.icon {
	padding:0px;
	vertical-align:middle;
	width:32px;
	height:32px;
	align:center;
}

.foldercontainer {
width:100%;
}
.folderbox {
	position:relative;
	overflow:none;
	display:inline-block;
	padding: 1em;
	text-align:center;
	vertical-align:top;
	width:15em;
	height:18em;
	margin:2px 2px 2px 2px;
	border:3px solid white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.titleblock {
	z-index:1;
	overflow:none;
	font-weight: bolder;
	color:black;
	display:block;
	text-align:center;
	vertical-align:top;
	xwidth:18em;
	height:1.5em;
}



img[alt].folderlogo, .foldertitle {
   	margin-top: -10px;
	position:absolute;
	overflow:none;
	xxbackground-color: rgba(248, 247, 216, 0.95);
	color: rgba(248, 247, 216, 0.95);
	font-weight: bolder;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display:block;
	text-align:center;
	width:15em;
	z-index:10;
	vertical-align:top;
}


.folderlogo {
	padding-top: 0.25em;
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
	font-weight: bolder;
	vertical-align:top;
	max-width:18em;
	max-height:6em;
	z-index:10;
	overflow:none;
   	margin-top: -15px;
 	text-align:center;
 	padding-bottom:2em;
}

.folderimage {
	z-index:1;
	overflow:none;
   	display: block;
   	margin:auto;
   	text-align:center;
 	vertical-align: bottom;
 	padding-top:2em;
 	padding-bottom:4px;
 	text-align:center;
	max-height:15em;
	max-width:15em;
}

.folderlogo:hover {
	background-color:#444444;
}


.folderdisplay {
	position:relative;
	bottom:0;
}

.windowcontrol {
	position:absolute;
	right:10px;
	top:0px;
}

img.photo {
	max-width:48px;
	max-height:48px;
}
.folder-bg {
	xbackground-image: url("icon/folder-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	border: 1px solid #444444;
	background-color:#111111;
}
.video-bg {
	background-image: url("icon/video-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
}
.dvd-bg {
	background-image: url("icon/dvd-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
}
.music-bg {
	background-image: url("icon/music-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
}
.cue-bg {
	background-image: url("icon/cue-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
}

.size {
white-space: nowrap;
}

.buttontable td {
	vertical-align:top;
	padding:5px;
	
}


.button {
padding:0px;
text-align:center;
width:32px;
height:32px;
vertical-align:middle;
background-color:#666;
font-weight:bold;
color:#FF6;
border:solid #999 1px;
}

.hiddenbutton {
width:32px;
height:32px;
	
}


.button a,  {
font-weight:bold;
color:#FF6;
text-decoration:none;
}

.simplebutton, button{
background-color:#666;
font-size:1em;
font-weight:bold;
color:#FF6;
border:solid #999 1px;
}


#CHOLDER{
xxtext-align:center;
}
#CURRENT{
	margin-left: auto;
	margin-right: auto;
	xxwidth: 50px;
	text-align: left;
    overflow:hidden;
}
#CURRENT table tr td{
xwhite-space: nowrap;
overflow:hidden;
}
#FILES, #QUEUE {
text-align:left;
xoverflow:scroll;
}

#BUTTONTABLE td {
 width:20%;
}



 .MAX {
position:absolute;
background-color:#222222;
top: 10px;
bottom: 5px;
left: 5px;
right: 5px;
width: 100%;
max-width:100%;
z-index:10;
}
.MAX  .cover  {
	max-width:99vw;
	max-height:99vh;

}

